<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello HTML</h1>
    <div id="app">
      <button @click="ToggleShowBooks">
        <span v-if="showBooks">Hide Book</span>
        <span v-if="!showBooks">Show Book</span>
      </button>

      <div v-if="showBooks">
        <h1>{{ title }}</h1>
        <h2>{{ author }}</h2>
        <h3>{{ age }}</h3>

        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <button @click="changeTitle('Amar bangla')">New title</button>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
